In [12]:
import numpy as np
import pandas as pd

In [13]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':100}

In [14]:
#Call "my_list" into Pandas series

pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [15]:
#Call "my_list" into Pandas series and call "labels" as the index

pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [16]:
#Call a numpy array into Pandas series

pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
#Call the numpy array "arr" into Pandas series and call "labels" as the index

pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [18]:
#Pass a dictionary into Pandas Series

pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [19]:
#Make the labels as data

pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [21]:
ser1 = pd.Series([1,2,3,4], index=['USA','CHINA','FRANCE','GERMANY'])
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,3,4], index=['USA','CHINA','ITALY','JAPAN'])
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [23]:
ser1['USA']

1

In [24]:
ser2['JAPAN']

4

In [25]:
ser1+ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64